<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RealTimeGraphX.WPF.Demo.Properties.Settings.test_DBConnectionString"
            connectionString="Data Source=DESKTOP-JCR3ECJ\SQLEXPRESS;Initial Catalog=test_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>